@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    margin: 0;
    padding: 0 20px;
    font-family: "Rubik", sans-serif;
}

.logo{
    font-family: "Dancing Script", cursive;
}
::selection {
    color: rgb(72, 7, 56);
    background: rgba(224, 151, 178, 0.25);;
  }