:root{
    --mid-font-size : 15px;
    --mid-font-weight: 100;
    --xxl-font-size: 40px;
    --xxl-font-weight: 300;
    --lrg-font-size:23px;
    --lrg-font-weight:300;
    --background-color:rgb(224 151 178);
    --btn-border: rgb(226, 102, 162);
    --box-shadow: 0 10px 25px rgba(0, 0, 0,0.3);
    --gray-shade:rgb(234, 225, 225);
    --white-backGround:rgba(255, 255, 255, 0.605);
    --nav-backGround:rgba(231, 211, 231, 0.901);
}

.hamburger{
    position: absolute;
    top: 25px;
    left: 17px;
    cursor: pointer;
    display: none;
}

.line{
    width: 35px;
    height: 4px;
    margin: 3px 3px;
    background-color: var(--background-color);
    border-radius: 4px;
}


.cross{
    display: none;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.lin1{
    rotate: 48deg;
}

.lin2{
    rotate:-48deg;
    margin-top: -4.3px;
}

.lin1,.lin2{
    background-color: rgb(48, 47, 47);
    height: 4.5px;
    width: 34px;    
    border-radius: 4px;

}



@media only screen and (max-width:1234px){
    .logContain{
        height: 28rem;
    }
    .pimg{
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }

}



@media only screen and (max-width:1024px){
    :root{
        --mid-font-size : 15px;
        --mid-font-weight: 100;
        --xxl-font-size:  30px;
        --xxl-font-weight: 300;
        --lrg-font-size:23px;
        --lrg-font-weight:300;
        --about-font-size:1.7vw;
        --blogs-font-size:1vw;
    }
    .navLeftResp{
        position: absolute;
        width: 300px;
    }
    .cross-res{
        display: block;
        left: 35%;
    }
    .res{
        display: block;
        width: 30%;
    }
    .registers{
        height: 60vw !important;
    }
    .profile{
        height: 35vw;
        margin-bottom: 150px;  
    }
    .navbar{
        height: 30%;
    }
    .hamburger{
        z-index: 1;
    }
    .burgerRes{
        display: block;
    }
    .navLeftResp ul{
        flex-direction: column;
        background-color: var(--nav-backGround);
        height: 450px;
        backface-visibility: hidden;
        margin: 0px 0px;
    } 
    .resAnimate{
        animation-name: shows;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    @keyframes shows{
        0%{
            width: 80px;
        }
        100%{
            width: 300px;
        }
    }
    .resAnimateRev{
        animation-name: shows;
        animation-duration: 0.8s;
        animation-direction: reverse;
        animation-fill-mode: none;
        animation-timing-function: ease-in-out;
    }
    .navLeftres ul{
        opacity: 0;
    }  
    .w-container{
        padding-left: 0px;
        height: 50px;
    }
    .lft{
        margin: 25px auto;
        width: 100%;
    }
    .box:hover input{
        width: 100px;
    }
    .recommanded{
        height: 50rem;
    }
    .blogs{
        margin-bottom: 40px;
    }
    .media-scroller{
        top: 40px;
    }
    .title{
        height: 65px;
        width: 200px;
    }
    .main{
    height: 160px;
    }
    .editProf,.outEdit{
        height: 40vw;
    }
    .photo{
        height:65%;
    }
    .footerInfo{
    top: -8%;
    }
    .ftop{
    grid-auto-columns: 33.3%;
    }
}

@media only screen and (max-width:1252px){
    .box{
        left: 15%;
    }
}


@media only screen and (max-width:870px){
    body{
        padding: 0px 10px;
    }
    :root{
        --mid-font-size : 15px;
        --mid-font-weight: 100;
        --xxl-font-size:  25px;
        --xxl-font-weight: 300;
        --lrg-font-size:15px;
        --lrg-font-weight:300;
        --blogs-font-size:1.3vw;
        --blogs-title-font-size:15px;   

    }
    .name{
        margin: 5%;
    }
    .home{
        width: 95%;
        margin: 0px auto;
    }
    .hbtn{
        padding: 10px;
        margin-top: 15px;
    }
    .b-container{
        top: 15%;
    }
    .profile{
        height: 40vw;
        margin-bottom: 170px;
    }
    .blogs{
        top: 65px;
    }
    .hamburger{
        top: 15px;
    }
    .logo{
        width:30%;
    }
    .res{
        width: 35%;
    }
    .navLeftResp{
        width: 35%;
    }
    .navRight{
        width: 35%;
    }
    .box{
        height: 10px;
        padding: 10px 4.5px;
        border-radius: 35px;
        left: 100px;
    }
    .box:hover input{
        width: 70px;
    }
    .w-container{
        margin-top: 0px;
        padding-left: 0px;
        padding-top: 7px;
    }
    .search{
        height: 20px;
        width: 19px;
    }
    .details{
        height: 45vh;
    }
    .pimg{
        height: 30px;
        width: 30px;
        border-radius: 30px;
    }
    .footer{
        height: 335px;
       padding: 17px;
    }
    .footcontain{
     margin: 45px 30px;
    }
    .main{
    height: 140px;
    }
    .logContain{
        height: 32rem;
    }
    .login,.logOut{
        width: 300px;
    }
    .login input{
        width: 90%;
    }
    .ottp input{ 
            width: 10% !important;
    }
    .login label{
        margin-left: 15px;
    }
    .profile{
        margin-bottom: 250px;
    }
    .profileImg{
        height: 200px;
        width: 200px;
        border-radius: 200px;
    }
    .footerInfo{
        margin-top: -2%;
    }
    .background{
        height: 500px;
    }
    .ftop{
        grid-auto-columns: 50.5%;
    }
}

@media only screen and (max-width:784px){
    body{
        padding: 0;
    }
    .box{
        display: none;
    }
    .home{
        height: 50vw;
    }
    .registers{
        height: 80vw !important;
    }
    .title{
        height: 20%;
        width: 50%;
    }
    .details{
        width: 65%;
    }
    .editImg{
        height: 150px !important;
        width: 150px !important;
        border-radius: 150px !important;
    }
    .photo{
        height:68%;
    }
    .profileImg{
        height: 200px;
        width: 200px;
        border-radius: 200px;
    }
    #lftbtn,#rigtbtn{
       display: none;
    }
    .navLeftResp{
        position: absolute;
        top: 0;
        width: 200px;
    }
    .res{
        display: block;
        width: 40%;
    }
    .resSerch{
        display: block;
    }
    .lable{
        font-size: 15px;
    }
    .hamburger{
        top: 12px;
    }
    .footerInfo p{
        font-size: var(--lrg-font-size);
    }
    .products{
        top: 200px;
        margin-bottom: 250px;
    }
    .recommanded{
        height: 40rem;
    }
    .type_wrap img{
        height: 200px;
    }
    
}

@media only screen and (max-width:734px){
    :root{
        --blogs-title-font-size:13px;
        --profile-font-size:15px;
    }
    .formContainer{
        height: 400px;
    }
    .footer{
        height: 280px;
        padding: 15px;
    }
    
    .editImg{
        height: 150px;
        width: 150px;
        border-radius: 150px;
    }
    .profile{
        height: 45vw;
        margin-bottom: 250px;
    }
    .profileImg{
        height: 180px;
        width: 180px;
        border-radius: 180px;
    }
    .footcontain{
        margin: 4% 4%;
    }
    .main{
        height: 120px;
    }
    .pinp{
        height: 10px;
    }
    .editProf,.outEdit{
        height: 45vw;
    }
    .details{
        grid-template-columns: 100px auto;
    }
    .ftop{
        grid-auto-columns: 50.5% !important;
    }
    }

@media only screen and (max-width:659px){
    .footcontain{
    margin: 4% 3%;
    gap: 20px;
    }
    .home{
        height: 18rem;
    }
    .footer{
        height: 250px;
    }
    .outDetail{
        flex-direction: column;
        height: 400px;
    }
    .ebtn{
        margin: auto;
    }
    .registers{
        height: 100vw !important;
    }
    .reg{
        gap: 10px !important;
    }
    .detail{
        width: auto;
        justify-content: center;
    }
    .profile{
        margin-bottom: 290px;
        height: 50vw;
    }
    .editImg{
        margin-top: auto !important;

    }
    .profileImg{
        height: 150px;
        width: 150px;
        border-radius: 150px;
        margin-top: -50px;
    }
    .main{
        height: 90px;
    }
    .media-scroller{
        top: 20px;
        grid-auto-columns: 33%;
    }
    .products{
        top: 230px;
    }
    .details{
        width: 65%;
    }
    .photo{
        height:50%;
    }
    .editProf,.outEdit{
        height: 60vw;
    }
    .background{
        height: 600px;
    }
    .blogContent{
        padding: 0px 35px;
    }
    .postPhoto{
        padding: 0px 25px;
    }
}

@media only screen and (max-width:533px){
    body{
        padding: 0;
    }
    :root{
        --mid-font-size : 12px;
        --mid-font-weight: 100;
        --xxl-font-size:  20px;
        --xxl-font-weight: 300;
        --lrg-font-size:15px;
        --lrg-font-weight:300;
        --about-font-size: 1.9vw;
        --blogs-font-size:1.5vw;
        --blogs-title-font-size:9px;
    }
     /* ---cross--- */
    .lin1,.lin2{
        width: 25px;
        height: 4px;
    }
    .navLeftResp{
        position: absolute;
        top: 0;
        width: 200px;
    }
    .profile{
        margin-bottom: 400px;
        height: 43vw;
    }
    .details{
        width: 60%;
        grid-template-columns:auto;
    }
    .editImg{
        height: 120px !important;
        width: 120px !important;
        border-radius: 120px !important;
    }
    .editProf,.outEdit{
        height: 65vw;
    }
    .outEdit{
        width: 80%;
    }
    .elab{
        font-weight: 300;
    }
    .aboutUs{
        height: 50vw;
    }
    .content{
    padding: 25px 20px 0px 0px;
    }
    .name{
        margin: 2%;
    }
    .res{
        display: block;
        width: 40%;
    }
    .log{
        right: 5%;
    }
    .hamburger{
        top: 12px;
    }
    .products{
        margin-top: 50px;
    }
    .line{
        height: 3.5px;
    }
    .logContain{
        height: 30rem;
    }
    .login,.logOut{
        width: 70%;
        padding: 15px 30px;
    }
    .login label{
        margin-left: 15px;
    }
    .footer{
        height: 220px;
    }
    .main{
        height: 70px;
    }
    .postPhoto img{
        max-width: 250px;
        height: 300px;
        margin: auto;
    }
    .postPhoto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 50px;
        gap: 10px;
    }
    .blogContent{
        padding: 0px 0px;
    }
    .blogContent p,li,h4{
        font-size: 15px;
    }
    .blur{
        width: 100vw;
        height: 200vh;
    }
    .pop_up{
        width: 370px;
    }
}
@media only screen and (max-width:430px){
    body{
        padding: 0;
        margin: 0;
    }
    :root{
        --mid-font-size : 12px;
        --mid-font-weight: 100;
        --xxl-font-size:  20px;
        --xxl-font-weight: 300;
        --lrg-font-size:15px;
        --lrg-font-weight:300;
        --about-font-size: 15px;
        --blogs-font-size:3.8vw;
        --blogs-title-font-size:20px;
    }
    .profile{
        height: 90vw;
        margin-bottom: 250px;
    }
    .heading{
        width: 80%;
    }
    .editProf,.outEdit{
        height: 90vw;
    }
    .details{
        height: 200px;
    }
    .registers{
        height: 120vw !important;
    }
    .reg{
        gap: 5px !important;
    }
    .outDetail{
        height: 350px;
    }
    .name{
        margin: 20px;
    }
    .navLeftResp{
        position: absolute;
        top: 0;
        width: 140px;
    }
    .pimg{
        height: 27px;
        width: 27px;
        border-radius: 27px;
    }
    .profileImg{
        height: 110px;
        width: 110px;
        border-radius: 110px;
        margin-top: -50px;
    }
    .home{
        height: 20rem;
    }
    .aboutUs{
        flex-direction: column;
        height: 40rem;
        top: 40px;
    }
    .aboutlft{
        width: 90%;
        height: 90%;
        margin: auto;
    }
    .aboutrigt{
        width: 90%;
        margin: auto;
        margin-top: -10%;
    }
    .title{
        height: 50px;
        width: 55%;
    }
    .content{
        margin-top: 30px;
    }
    .b-container{
        flex-direction: column;
        gap: 20px;
        top: 25px;
    }
    .blogs{
        height: 410vw;
        margin-bottom: 20px;
    }

    .media-scroller{
    grid-auto-columns: 49%;
    --spacer:0.8rem;
    }
    .related{
        height: 60vw;
    }
    .types{
        display: grid;
        grid-template-columns: auto;
    }
    .recommanded{
        height: 75rem;

    }
    .res{
        display: block;
        width: 45%;
    }
    .formContainer{
        height: 350px;
        font-weight: 400;
    }
    .formContainer textarea{
        height: 100px;
    }
    .log{
        right: 1%;
    }
    .main{
        height: 100px;
    }
    .photo{
        height: 47%;
    }
    .footLi{
    margin-bottom: 5px;
    }
    .footerInfo p{
        font-size: 12px;
    }

    .main img{
        height: 20px;
        width: 20px;
    }
    .background{
        height: 500px;
    }
    .blur{
        width: 150vw;
        height: 200vh;
    }
    .pop_up{
        width: 300px;
    }
}

@media only screen and (max-width:339px){   
  :root{
    --mid-font-size : 12px;
    --mid-font-weight: 100;
    --xxl-font-size:  20px;
    --xxl-font-weight: 300;
    --lrg-font-size:10px;
    --lrg-font-weight:300;
}
.log{
    position: relative;
    left: 45px;
}
.navRight{
    width: 25%;
}
.formContainer{
    gap: 0;
}
.registers{
    height: 127vw !important;
}
.reg{
    gap: 0px !important;
}
.lable{
    margin: -10px 0px;
}
.input{
  margin: -8px 0px;
}
.editProf,.outEdit{
    height: 120vw;
}
.outEdit{
    width: 90%;
}
.details{
    gap: 2px;
}
.elab{
    font-size: medium;
}
.formContainer textarea{
    height: 90px;
}
.res{
    width: 50%;
}
.blogs{
    margin-bottom: 20px;
}
.heading{
    position: relative;
    top: -7%;
    width: 70%;
}
.hbtn{
    padding: 8px;
    margin-left: -20%;
    margin-top: 10px;
}
.aboutUs{
    height: 45rem;
}
.content{
    padding-top: 20px;
}
.log{
    right: -3%;
}
.ftop{
    grid-auto-columns: 70% !important;
}
.background{
    height: 450px;
}
.postPhoto img{
    max-width: 250px;
    height: 200px;
    margin: auto;
}
.footerInfo p{
    font-size: 10px;
}
.editProf{
    width: 105%;
}
.pinp{
    border: 0.7px solid #cfc2d3;
}
.lrg{
    width: 100px;
}
.pop_up{
    width: 250px;
}

}







/* --------------------------------------Contact------------------------------- */



@media only screen and (max-width:1114px){

.input,.formContainer textarea{
    width: 95%;
}
.formContainer{
    width: 65%;
    grid-template-columns: 90%;
}

}




