:root{
  --mid-font-size : 15px;
  --mid-font-weight: 100;
  --xxl-font-size: 40px;
  --xxl-font-weight: 300;
  --lrg-font-size:23px;
  --lrg-font-weight:300;
  --background-color:rgb(224 151 178);
  --btn-border: rgb(226, 102, 162);

}


.active{
    color: rgb(211, 108, 160) !important;
}



.w-container{
    margin-top: 5px;
    padding: 10px;
    height: 80px;
}

.navbar{
    display: flex;
}

.navLeft{
    width: 30%;
    display: flex;
}
.navRight{
    width: 30%;
    padding: 15px;
    display: flex;
    align-items: center;
}
.logo{
    width:40%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    gap: 5px;
}

.logo::after{
    content: "";
    height: 4px;
    width: 100%;
    background-color: black;
    transform: scaleX(0.5);
    transition: 0.8s;
    transition-delay: ease-in-out;
}

.logo:hover::after{
    transform: scaleX(1);
}



.navLeft ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.lft a{
  text-decoration: none;
  padding: 0 15px;
  font-size: var(--mid-font-size);
  font-weight: var(--mid-font-weight);
  color: black;
}

.box{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 12px 10px;
    background-color:var(--background-color);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0,0.3);
    position: relative;
    left: 80px;
    
}

.box:hover input{
    width: 150px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: var(--mid-font-weight);
    transition: 0.8s;
    background: transparent;
}

.search{
    height: 25px;
    width: 22px;
}

.box a .fas{
    color: white;
    font-size: var(--mid-font-size);
}

.log{
    position: absolute;
    right: 80px;
    cursor: pointer;
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
}




.home{
  display: flex;
  height: 40vw;
  background: url("../images/homeBack.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 15px;
}

.homeLft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeRigt{
    width: 50%;
}

.homeRigt img{
    mix-blend-mode: darken;
}

.heading{
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
}
.hbtn{
 padding: 15px;
 margin-top: 15px;
 font-size: var(--mid-font-size);
 border-radius: 5px;
 background: transparent;
 border-color:var(--btn-border);
}
.hbtn:hover{
   background-color: white;
   transition-duration: 0.8s;
}





.aboutUs{

    position: relative;
    top: 70px;
    display: flex;
    gap: 10%;
    height: 40vw;
    padding: 15px;

}

.aboutlft{
    width: 40%;
    background: url("../images/dailyHabit.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.aboutrigt{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.title{
    background-color: var(--background-color);
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: var(--xxl-font-size);
    padding-left: 15px;
    box-shadow:0 10px 25px rgba(0, 0, 0,0.3);
}

.animate{
    transition-duration: 2s;
    animation-name: title-flow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes title-flow{
    0%{
        width: 0px;
        color: transparent;
    }
    50%{
        width: 300px;
        color: transparent;
    }
    100%{
        color: black;
    }
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: var(--lrg-font-size);
    padding: 30px 20px 0px 0px;
    font-weight: var(--lrg-font-weight);
}


.blogs{
    position: relative;
    top: 200px;
    height: 40vw;
}

.btitle{
    display: flex;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
}

.b-container{
    display: flex;
    position: relative;
    top: 80px;
}

.boxes{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
     border-color: var(--btn-border);
}


.boxes img{
    width: 90%;
    height: 100%;
    backface-visibility:hidden;
}


.text{
    position:absolute;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: -1;

}

.name{
    font-size: var(--lrg-font-size);
    font-weight: var(--lrg-font-weight);
    margin: 20px;
    
}

.blog{
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
    margin: 10px;

}
/* 
.blogbtn{
    margin-top: 20px;
    width: 90%;
    height: 10%;
    font-size: var(--mid-font-size);
    padding: 10px;
    background: transparent;
    border-color: var(--btn-border);
    border-radius: 5px;
}


.blogbtn:hover{
    background-color: var(--background-color);
    cursor: pointer;
} */

.boxes img:hover {
    transition-duration: 0.8s;
    cursor: pointer;
    opacity: 0;
}
.boxes img:hover ~ .text{
    opacity: 100;
    transition-duration: 1.5s;
    border: 1.5px solid;
    border-color: var(--btn-border);
    padding: 15px;
}   
