/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css"; */

:root{
  --mid-font-size : 15px;
  --mid-font-weight: 100;
  --xxl-font-size: 40px;
  --xxl-font-weight: 300;
  --lrg-font-size:23px;
  --lrg-font-weight:300;
  --background-color:rgb(224 151 178);
  --btn-border: rgb(226, 102, 162);
  --box-shadow: 0 10px 25px rgba(0, 0, 0,0.3);
  --gray-shade:rgb(234, 225, 225);
  --white-backGround:rgba(255, 255, 255, 0.605);
  --about-font-size: 1.8vw;
}

.active{
    color: rgb(211, 108, 160) !important;
}



.w-container{
    margin-top: 5px;
    padding: 10px;
    height: 80px;
}

.navbar{
    display: flex;
    height: 80px;

}

.navLeft{
    width: 30%;
    display: flex;
}
.navRight{
    width: 30%;
    padding: 15px;
    display: flex;
    align-items: center;
}
.logo{
    width:40%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    gap: 5px;
}

.logo::after{
    content: "";
    height: 4px;
    width: 100%;
    background-color: black;
    transform: scaleX(0.5);
    transition: 0.8s;
    transition-delay: ease-in-out;
}

.logo:hover::after{
    transform: scaleX(1);
}

.resSerch{
    display: none;
}


.res{
    display: none;
}

.navLeft ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.lft a{
  text-decoration: none;
  padding: 0 15px;
  font-size: var(--mid-font-size);
  font-weight: var(--mid-font-weight);
  color: black;
}

.box{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 12px 9px;
    background-color:var(--background-color);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0,0.3);
    position: relative;
    left: 80px;
}

.box:hover input{
    width: 150px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: var(--mid-font-weight);
    transition: 0.8s;
    background: transparent;
}

.search{
    height: 25px;
    width: 22px;
}

.box a .fas{
    color: white;
    font-size: var(--mid-font-size);
}

.log{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: black;
    right: 5%;
    cursor: pointer;
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
}




.home{
  display: flex;
  height: 40vw;
  background: url("../images/homeBack.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 15px;
}

.homeLft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeRigt{
    width: 50%;
}

.homeRigt img{
    mix-blend-mode: darken;
}

.heading{
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
}
.hbtn{
 padding: 15px;
 margin-top: 15px;
 font-size: var(--mid-font-size);
 border-radius: 5px;
 background: transparent;
 border-color:var(--btn-border);
}
.hbtn:hover{
   background-color: white;
   transition-duration: 0.8s;
}





.aboutUs{
    position: relative;
    top: 70px;
    display: flex;
    gap: 10%;
    height: 40vw;
    padding: 15px;
}

.aboutlft{
    width: 40%;
    background: url("../images/dailyHabit.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.aboutrigt{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.title{
    background-color: var(--background-color);
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: var(--xxl-font-size);
    padding-left: 15px;
    box-shadow:0 10px 25px rgba(0, 0, 0,0.3);
}

.animate{
    transition-duration: 2s;
    animation-name: title-flow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes title-flow{
    0%{
        width: 0;
        color: transparent;
    }
    50%{
        width: 300px;
        color: transparent;
    }
    100%{
        color: black;
    }
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: var(--about-font-size);
    padding: 30px 20px 0px 0px;
    font-weight: var(--lrg-font-weight);
}





.blogs{
    position: relative;
    top: 70px;
    padding: 15px;
    height: 35vw;
}

.btitle{
    display: flex;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
}

.b-container{
    display: flex;
    position: relative;
    top: 80px;
}

.boxes{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
     border-color: var(--btn-border);
}


.boxes img{
    width: 90%;
    height: 100%;
    backface-visibility:hidden;
}


.text{
    position:absolute;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: -1;

}

.name{
    font-size: var(--lrg-font-size);
    font-weight: var(--lrg-font-weight);
    margin: 20px;
    
}

.blog{
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
    margin: 10px;

}

.boxes img:hover {
    transition-duration: 0.8s;
    cursor: pointer;
    opacity: 0;
}

.boxes img:hover ~ .text{
    opacity: 100;
    transition-duration: 1.5s;
    border: 1.5px solid;
    border-color: var(--btn-border);
    padding: 15px;
}  



.related{
    padding: 10px;
    height: 40vw;
}
.related-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lftbtn,#rigtbtn{
    height: 50px;
    width: 50px;
    cursor: pointer;
}   
.recTitle{
    display: flex;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    margin-top: 8%;
    margin-bottom: 8px;
}

.media-scroller{
    position: relative;
    top: 50px;
    --spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 24.2%;
    gap: var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 var(--spacer) var(--spacer);
}


.media > img{
    inline-size: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.media a{
    text-decoration: none;
    color: rgba(105, 105, 105, 0.781);
}

.media{
    border-radius: 5px;
    display: grid;
    grid-template-rows: min-content;
    padding: var(--spacer);
    background-color: var(--white-backGround);
    gap: var(--spacer);
    /* box-shadow: var(--box-shadow); */
}

.media-scroller::-webkit-scrollbar{
    display: none;
}

.media:hover{
    transform: scale(1.05);
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}



.products{
    position: relative;
    top: 170px;
}

.recommanded{
    height: 55rem;
    display: block;
    background:url("../images/back_att.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

.types{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.type_wrap {
    background-color: var(--white-backGround);                  
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
.type_wrap  h3:hover{
    color: var(--background-color);
}
.type_wrap img{
    height: 300px;
    width: 90%;
}
.type_wrap:hover{
    border: 2px solid var(--btn-border);
    cursor: pointer;
    transition-duration: 0.8s;
}










.contactUs{
    padding: 25px;
    background-image: url('../images/contact_back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.contitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    margin-bottom: 15px;
}

.formContainer{
    background-color:var(--white-backGround);
    box-shadow: var(--box-shadow);
    display: grid;
    height: 500px;
    width: 50%;
    padding: 20px;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}
.input{
    width: 500px;
    border: none;
    padding: 0 5px;
    outline: none;
    height: 30px;
}

.formContainer textarea{
    height: 200px;
    width: 500px;
    border: none;
    padding: 5px;
}
.submitbtn{
    width: 150px;
    display: flex;
    justify-self: center;
    justify-content: center;
    cursor: pointer;
    outline: 2px solid var(--gray-shade);
    border: none;
    border-radius:4px;
}

.formContainer input::placeholder,.formContainer textarea::placeholder{
    color: rgba(163, 158, 158, 0.853);

}

.submitbtn:hover{
    background-color: var(--background-color);
    outline: none;
}

.formContainer textarea:active,.input:active{
    outline: 2px solid var(--background-color);
}

.formContainer textarea:focus-visible,.input:focus-visible{
    outline: 2px solid var(--background-color);
}






.logContain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
    background-image: url("../images/login_back.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    display: grid;
    grid-template-columns: auto;
    background-color: var(--white-backGround);
    box-shadow: var(--box-shadow);
    height:250px;
    width: 500px;
    padding: 20px 40px;
    gap: 0px;
}

.login input{
    width: 70%;
    height: 25px;
    padding: 2px 3px;
    outline: none;
    border: none;
    justify-self: center;
    border-radius: 4px;
}

.login input::placeholder{
    color: rgba(163, 158, 158, 0.853);
}

.login input:active , .login input:focus-visible{
    outline: 2px solid var(--background-color);
}

.logsub{
    width: 150px !important;
}


.login label{
    height: 15px;
    margin-top: 15px;
    margin-left: 75px;
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
}

.logTitl{
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    margin-bottom: 25px;
}

.error{
  justify-self: center;
  font-size: var(--mid-font-size);
  font-weight: var(--mid-font-weight);
  color: red;
}

.logOut{
    height: 100px !important;
    justify-content: center;
    align-items: center;
}





.footer{
    margin-top: 20%;
    height: 375px;
    padding: 20px;
    background: linear-gradient(rgba(185, 111, 150, 0.492), #e4dfdf);
    box-shadow: var(--box-shadow);
}
.footcontain{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px 30px;
}

.footcontain u,img:hover{
    cursor: pointer;
}

.main{
    margin: auto;
    height: 180px;
}

.main::after{
content: "";
}

.main p{
    font-size: var(--lrg-font-size);
    font-weight: var(--mid-font-weight);
}

.footLi{
    position: relative;
    justify-content: center !important;
    width: 100% !important;
    margin-bottom: 12px;
}

.footLi a:hover{
 color: var(--white-backGround);
}

.footerInfo{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    background-color:  var(--white-backGround);
}


