/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css"; */

:root{
  --mid-font-size : 15px;
  --mid-font-weight: 100;
  --xxl-font-size: 40px;
  --xxl-font-weight: 1000;
  --lrg-font-size:23px;
  --lrg-font-weight:300;
  --background-color:rgb(224 151 178);
  --btn-border: rgb(226, 102, 162);
  --box-shadow: 0 10px 25px rgba(0, 0, 0,0.3);
  --gray-shade:rgb(234, 225, 225);
  --white-backGround:rgba(255, 255, 255, 0.605);
  --about-font-size: 1.5vw;
  --blogs-title-font-size:23px;
  --blogs-font-size:1vw;
  --profile-font-size:16px;
}

.active{
    color: rgb(211, 108, 160) !important;
}



.w-container{
    margin-top: 5px;
    padding: 10px;
    height: 80px;
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: white;
}

.navbar{
    display: flex;
    height: 80px;
}

.navLeft{
    width: 30%;
    display: flex;
}
.navRight{
    width: 30%;
    padding: 15px;
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.logo{
    width:40%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    gap: 5px;
}

.logo::after{
    content: "";
    height: 4px;
    width: 100%;
    background-color: black;
    transform: scaleX(0.5);
    transition: 0.8s;
    transition-delay: ease-in-out;
}

.logo:hover::after{
    transform: scaleX(1);
}

.resSerch{
    display: none;
}


.res{
    display: none;
}

.navLeft ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.lft a{
  text-decoration: none;
  padding: 0 15px;
  font-size: var(--mid-font-size);
  font-weight: var(--mid-font-weight);
  color: black;
}

.box{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 12px 9px;
    background-color:var(--background-color);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0,0.3);
    position: relative;
    left: 80px;
}

.box:hover input{
    width: 150px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: var(--mid-font-weight);
    transition: 0.8s;
    background: transparent;
}

.search{
    height: 25px;
    width: 22px;
}

.box a .fas{
    color: white;
    font-size: var(--mid-font-size);
}

.results ul{
    border-top: 1px solid #999;
    padding: 10px 10px;
}
.results ul li{
    list-style: none;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
}
.log{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: black;
    right: 5%;
    cursor: pointer;
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
}

.pimg{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}



.home{
  display: flex;
  height: 40vw;
  background: url("../images/homeBack.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 15px;
}

.homeLft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeRigt{
    width: 50%;
}

.homeRigt img{
    mix-blend-mode: darken;
}

.heading{
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
}
.hbtn{
 padding: 15px;
 margin-top: 15px;
 font-size: var(--mid-font-size);
 color: #292729;
 border-radius: 5px;
 background: transparent;
 border-color:var(--btn-border);
}
.hbtn:hover{
   background-color: white;
   transition-duration: 0.8s;
}





.aboutUs{
    position: relative;
    top: 70px;
    display: flex;
    gap: 10%;
    height: 40vw;
    padding: 15px;
}

.aboutlft{
    width: 40%;
    background: url("../images/dailyHabit.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.aboutrigt{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-right: 5px;
}

.title{
    background-color: var(--background-color);
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: var(--xxl-font-size);
    padding-left: 15px;
    box-shadow:0 10px 25px rgba(0, 0, 0,0.3);
}

.animate{
    transition-duration: 2s;
    animation-name: title-flow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes title-flow{
    0%{
        width: 0;
        color: transparent;
    }
    50%{
        width: 300px;
        color: transparent;
    }
    100%{
        color: black;
    }
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: var(--about-font-size);
    padding: 30px 20px 0px 0px;
    font-weight: var(--lrg-font-weight);
}





.blogs{
    position: relative;
    top: 70px;
    padding: 15px;
    height: 35vw;
}

.btitle{
    display: flex;
    justify-content: center;
    font-size: var(--xxl-font-size);
}

.b-container{
    display: flex;
    position: relative;
    top: 80px;
}

.boxes{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
     border-color: var(--btn-border);
}


.boxes img{
    width: 90%;
    height: 100%;
    backface-visibility:hidden;
}


.text{
    position:absolute;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: -1;

}

.name{
    font-size: var(--blogs-title-font-size);
    font-weight: var(--lrg-font-weight);
    margin: 20px;
}

.blog{
    font-size: var(--blogs-font-size);
    font-weight: var(--mid-font-weight);
    margin: 10px;

}

.boxes img:hover {
    transition-duration: 0.8s;
    cursor: pointer;
    opacity: 0;
}

.boxes img:hover ~ .text{
    opacity: 100;
    transition-duration: 1.5s;
    border: 1.5px solid;
    border-color: var(--btn-border);
    padding: 15px;
}  



.related{
    padding: 10px;
    height: 40vw;
}
.related-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
#lftbtn,#rigtbtn{
    height: 50px;
    width: 50px;
    cursor: pointer;
}   
.recTitle{
    display: flex;
    justify-content: center;
    font-size: var(--xxl-font-size);
    margin-top: 8%;
    margin-bottom: 8px;
}

.media-scroller{
    position: relative;
    top: 50px;
    --spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 24.2%;
    gap: var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 10px var(--spacer) var(--spacer);
}


.media > img{
    inline-size: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.media a{
    text-decoration: none;
    color: rgba(105, 105, 105, 0.781);
    cursor: pointer;
}

.media{
    border-radius: 5px;
    display: grid;
    grid-template-rows: min-content;
    padding: var(--spacer);
    background:linear-gradient(rgba(197, 132, 166, 0.492), #faf9f9);
    gap: var(--spacer);
    z-index: 2;
    box-shadow: var(--box-shadow);
}

.media-scroller::-webkit-scrollbar{
    display: none;
}

.media:hover{
    transform: scale(1.05);
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}



.products{
    position: relative;
    top: 100px;
}

.recommanded{
    height: 55rem;
    display: block;
    background:url("../images/back_att.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

.types{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.type_wrap {
    background-color: var(--white-backGround);                  
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
.type_wrap h3{
    color:#333134;
}
.type_wrap  h3:hover{
    color: var(--background-color);
}
.type_wrap img{
    height: 300px;
    width: 90%;
}
.type_wrap:hover{
    border: 2px solid var(--btn-border);
    cursor: pointer;
    transition-duration: 0.8s;
}










.contactUs{
    padding: 25px;
    background-image: url('../images/contact_back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.contitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    margin-bottom: 15px;
}

.formContainer{
    background-color:var(--white-backGround);
    box-shadow: var(--box-shadow);
    display: grid;
    height: 500px;
    width: 50%;
    padding: 20px;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}
.input{
    width: 500px;
    border: none;
    padding: 0 5px;
    outline: none;
    height: 30px;
}

.formContainer textarea{
    height: 200px;
    width: 500px;
    border: none;
    padding: 5px;
}
.submitbtn{
    width: 150px;
    display: flex;
    justify-self: center;
    justify-content: center;
    cursor: pointer;
    outline: 2px solid var(--gray-shade);
    border: none;
    border-radius:4px;
    color: #292729;
    background-color: #eae8e8;
}

.formContainer input::placeholder,.formContainer textarea::placeholder{
    color: rgba(163, 158, 158, 0.853);

}

.submitbtn:hover{
    background-color: var(--background-color);
    outline: none;
}

.formContainer textarea:active,.input:active{
    outline: 2px solid var(--background-color);
}

.formContainer textarea:focus-visible,.input:focus-visible{
    outline: 2px solid var(--background-color);
}





.registers{
    height: 50vw !important;
}

.logContain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
    background-image: url("../images/login_back.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


.login{
    display: grid;
    grid-template-columns: auto;
    background-color: var(--white-backGround);
    box-shadow: var(--box-shadow);
    height:auto;
    width: 500px;
    padding: 20px 40px;
    gap: 15px;
}

.login input{
    width: 70%;
    height: 25px;
    padding: 2px 3px;
    outline: none;
    border: none;
    justify-self: center;
    border-radius: 4px;
}

.login input::placeholder{
    color: rgba(163, 158, 158, 0.853);
}

.login input:active , .login input:focus-visible{
    outline: 2px solid var(--background-color);
}

.logsub{
    margin-top: 5px;
    background-color: #eae8e8;
    width: 150px !important;
}


.login label{
    height: 15px;
    margin-top: 15px;
    margin-left: 75px;
    font-size: var(--mid-font-size);
    font-weight: var(--mid-font-weight);
}

.logTitl{
    font-size: var(--xxl-font-size);
    font-weight: var(--xxl-font-weight);
    margin-bottom: 25px;
}

.error{
  justify-self: center;
  font-size: var(--mid-font-size);
  font-weight: var(--mid-font-weight);
  color: red;
}
.signUp a{
    text-decoration: none;
    color: var(--btn-border);
    cursor: pointer;
}

.signUp{
    font-size: var(--profile-font-size);
    justify-self: center;
}


.logOut{
    height: 100px !important;
    justify-content: center;
    align-items: center;
}





.footer{
    margin-top: 10%;
    height: 375px;
    padding: 20px;
    background: linear-gradient(rgba(185, 111, 150, 0.492), #e4dfdf);
    box-shadow: var(--box-shadow);
}
.footcontain{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px 30px;
}

.footcontain u,img:hover{
    cursor: pointer;
}

.main{
    margin: auto;
    height: 180px;
}

.main::after{
content: "";
}

.main p{
    font-size: var(--lrg-font-size);
    font-weight: var(--mid-font-weight);
}

.footLi{
    position: relative;
    justify-content: center !important;
    width: 100% !important;
    margin-bottom: 12px;
}

.footLi ul{
    padding: 0;
}

.footLi a:hover{
 color: var(--white-backGround);
}

.footerInfo{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    background-color:  var(--white-backGround);
}


.profile{
   height: 25vw;
   width: 100%;
   background:linear-gradient(336deg, var(--btn-border), #333134);
   margin: 25px auto;
   margin-bottom: 120px;
   margin: auto;
   display: flex;
   justify-content: center;
}

.editProf{
   background:linear-gradient(336deg, var(--btn-border), #333134);
   height: 550px;
   margin: 25px auto;
   margin-bottom: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: 20px;
}



.outDetail{
    width: 70%;
    display: flex;  
    padding: 10px 0px;
    background: linear-gradient(336deg, var(--background-color), #cfc2d3);
    border-radius: 15px;
    margin-top: 120px;
    height: 350px;
    box-shadow: var(--box-shadow);
}

.profileImg{
    height: 230px;
    width: 230px;
    border-radius: 230px;
    margin:auto;
}
.editImg{
    height: 200px !important;
    width: 200px !important;
    border-radius: 200px !important;
}

.leftd{
    width: 50%;
}

.outEdit{
    width: 70%;
    display: flex; 
    height: 500px;
    margin: auto;
}

.detail{
    width: 50%;
    height: 250px;
    display: grid;
    grid-template-columns:auto;
    gap: 0px;
    justify-self: center;
    margin: auto 0px;
}

.detail p{
    color: #292729;
}



.photo{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 47%;
    align-self: center;
    margin: auto;
    gap: 15px;
}

input[type ='file']{
    opacity: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.forpass{
    width: 80%;
}

.file{
    margin: auto;
    margin-bottom: 50px;
    height: auto;
    width: auto;
    font-size: var(--profile-font-size);
    background-color: #cfc2d3b6;
    display: flex;
    border-radius: 3px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.details{
    display: grid;
    grid-template-columns: 150px auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: auto 0px;
    border-radius: 15px;
}
.username{
    font-size: large;
}
.edited{
    display: none;
}
.profdetails{
    display: none;
}
.verify{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 25px;
}
.ebtn{
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border:  1px  solid transparent;
    outline: 1px solid transparent;
    color: #292729;
    background-color: #eae8e8;
}
.ebtn:hover{
    color: var(--btn-border);
    border: 1px solid var(--btn-border);
    outline:1px solid var(--btn-border);
}
.plab{
    font-size:  var(--profile-font-size);
    font-weight: var(--lrg-font-weight);
    margin-bottom: -20px;
    color: #292729;
}
.vbtn{
  margin: auto;
}
.elab{
    margin-bottom: 0px !important;
    color: #cfc2d3;
}
.bvtn{
    padding: 10px;
}

.pinp:active,.pinp:focus-visible,.otp input:active,.otp input:focus-visible{
    outline: 1px solid var(--btn-border);
    border: 1px solid var(--btn-border);
    border-radius: 3px;
}
.pinp{
    padding: 3px 5px;
    border-radius: 3px;
    background-color: transparent;
    color: #cfc2d3;
    font-size:  var(--profile-font-size);
    font-weight: var(--lrg-font-weight);
}
.pinp::placeholder{
    color: #cfc2d3b6;
}
.pinp{
    border: 1px solid #cfc2d3;
}
.lrg{
    width: 140px;
    height: 35px;
}
.otpver{
    display: block;
}
.otp{
    margin: auto;
    display: flex;
    gap: 5px;
    justify-content: center;
}


.oottp{
    margin-top: -5%;
}

.otp input{
    width: 25px;
    outline: 0.2px solid rgb(109, 107, 107);
    border: 0.2px solid rgb(124, 120, 120);
}


.err{
    display: block;
    color: red;
    margin: auto;
}


.passChange{
    background: linear-gradient(rgba(197, 132, 166, 0.492), #faf9f9);
}


.blur{
    cursor: pointer;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.642);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display : none;
}
.pop_up{
    border: 1px solid black;
    text-align: center;
    padding: 49px;
    width: 374.8px;
    border-radius: 20px;
    background: linear-gradient(rgb(205, 130, 169), #565555);
    position: fixed;
    top: 50%;
    cursor: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ftitle{
    display: flex;
    justify-content: center;
}
.ftitle h1{
    font-size: var(--xxl-font-size);
    font-weight: 400;
}
.ansr{
   font-size: var(--mid-font-size);
   font-weight:100;
}
.background{
    background-color: #cfc2d3b6;
    height: 700px;
}
.ftop{
    top: auto !important;
}
.fmedia{
    background: #fdfbfb !important;
    border: 1px solid rgb(148, 42, 111);
}
.fmedia p{
    font-size: var(--mid-font-size);
}
.pass{
    color: rgb(99, 5, 77);
}

.postPhoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
    gap: 10px;
}

.postPhoto img{
    width: 350px;
    height: 300px;
    margin: auto;
}

.blogContent{
    margin: auto;
    padding: 0px 50px;
}


.data-container{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 25px;
    width: 96vw;
    padding-left: 20px;
}

.pItems{
    height: 500px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(rgba(235, 192, 214, 0.492), #faf9f9);
    box-shadow: var(--box-shadow);
}
.pItems h5,.pItems p{
    margin: 0px;
}
.pItems img{
    height: 300px;
    width: 80%;
    margin: 10px 10px;
    object-fit: contain;
    mix-blend-mode: darken;
}

.pItems a{
    color: rgb(139, 59, 250);
}
