<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link type="module" href="../js/script.js"> 
    <link rel="stylesheet" type="text/css"  href="../css/index.css">
    <link rel="stylesheet" type="text/css"  href="../css/style.css">
    <title>NPoint</title>
</head>
<body>
    <div class="w-container">
        <nav class="navbar">
            <div class="navLeft">   
                <ul>
                    <li class="lft"><a href="/home">Shop</a></li>
                    <li class="lft"><a href="/faq">FAQ</a></li>
                    <li class="lft"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="logo">NPoint</div>
            <div class="navRight">
                <div class="box">
                    <input type="text" placeholder="Search.....">
                    <img class="search" src="../images/search.png">
                    <a href="">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <a class="log" href="/login">Log In</a>
            </div>
        </nav>
    </div>

    <div class="section home">
        <div class="homeLft">
           <span class="heading">Inhanse Inner Beauty</span>
           <span class="heading">With NaturePoint</span>
           <button class="hbtn">Know More</button>
        </div>
        <div class="homeRigt">
        </div>
    </div>

    <div class="aboutUs">
        <div class="aboutlft"></div>
        <div class="aboutrigt">
            <div class="title">About Us</div>
             <div class="content">
                <span>At NPoint, we believe that beauty is not just about looking good, but also about feeling confident and comfortable in your own skin. Our mission is to empower individuals to embrace their unique beauty through high-quality products and expert guidance.
                    Founded by a team of passionate beauty enthusiasts, NPoint is dedicated to providing you with a curated selection of skincare, haircare, makeup, and wellness products that are both effective and enjoyable to use. We understand that everyone's beauty needs are different, which is why we offer a diverse range of products to cater to all skin types, hair textures, and personal preferences.
                </span>
             </div>
        </div>
    </div>
     
    <div class="blogs">
        <div class="btitle">Popular Blogs</div>
        <div class="b-container">
            <div class="boxes">
                <img class="img" src="../images/dr.lee.jpg">
                <div class="text">
                    <div class="name">Dr. Sandra Lee</div>
                    <div class="blog">She gained fame through her YouTube and Instagram accounts where she showcases her dermatology procedures. She has also appeared on several TV shows and has authored a book.  </div>
                    <div class="link"><a href="#">Read More</a></div>
                </div>
                <!-- <button class="blogbtn">See Blog</button>             -->
            </div>
            <div class="boxes"> 
                <img class="img" src="../images/dr_howard.jpg">
                <div class="text">
                    <div class="name">Dr. Howard Murad</div>
                    <div class="blog">He is a world-renowned dermatologist, author, and founder of the Murad skincare line. He has been featured in various publications and TV shows, including The Dr. Oz Show.</div>
                    <!-- <div class="link"><a href="#">Read More</a></div> -->
                </div>
                <!-- <button class="blogbtn">See Blog</button> -->
            </div>
            <div class="boxes">
                <img class="img" src="../images/dr_aava.jpg">
                <div class="text">
                    <div class="name">Dr. Ava Shamban</div>
                    <div class="blog">She is a board-certified dermatologist, author, and founder of the SkinxFive clinics. She has appeared on various TV shows and has written for several publications.</div>
                    <!-- <div class="link"><a href="#">Read More</a></div> -->
                </div>
                <!-- <button class="blogbtn">See Blog</button> -->
            </div>
            <div class="boxes">
                <img class="img" src="../images/dr_frank.jpg">
                <div class="text">
                    <div class="name">Dr. Paul Jarrod Frank</div>
                    <div class="blog">He is a cosmetic dermatologist and founder of the PFRANKMD brand. He is known for his work with fillers and injectables and has been featured in various publications and TV shows.</div>
                    <!-- <div class="link"><a href="#">Read More</a></div> -->
                </div>
                <!-- <button class="blogbtn">See Blog</button> -->
            </div>
        </div>
    </div>


        <div class="related">
            <div class="recTitle">Related Posts</div>
        <div class="related-wrap">
            <img id="lftbtn" src="../images/lftbtn.png">
            <div class="media-scroller  snaps-inline">
                <div class="media">
                    <img src="../images/recom_1.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_2.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_3.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_4.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_5.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_6.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_7.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_8.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_9.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
                <div class="media">
                    <img src="../images/recom_10.jpg">
                    <p>The Brilliant Advantages Of Using S..</p>
                    <a href="#">Shea butter has been used since time immemorial, for its fantastic ability to re.. </a>
                </div>
            </div>
            <img id="rigtbtn" src="../images/rigtbtn.png">
        </div>
        </div>
    
    <div class="products">
        <div class="recTitle">Recommended Products</div>
    <div class="recommanded">
        <div class="types">
            <div class="type_wrap">
                <img src="../images/type_1.jpeg">
                <h3>For Oli Skin</h3>
            </div>
            <div class="type_wrap">
                <img src="../images/type_2.jpg">
                <h3>For Dry Skin</h3>
            </div>
            <div class="type_wrap">
                <img src="../images/type_3.jpg">
                <h3>For Sensitive Skin</h3>
            </div>
            <div class="type_wrap">
                <img src="../images/type_4.jpeg">
                <h3>For All Skin Types</h3>
            </div>
        </div>
        <div class="contactUs" id="contact">
            <div class="contitle">Contact Us</div>
            <form id="form" class="formContainer" method="post">
                <label class="lable">Name</label>
                <input type="name" class="input" name="name" placeholder="Enter your name...">
                <label class="lable">E-mail</label>
                <input type="email" class="input" name="email" placeholder="Enter your email address...">
                <label class="label">Leave us A Note...</label>
                <textarea placeholder="Type here....."></textarea>
                <input type="submit" value="Submit" class="submitbtn">
            </form>
        </div>

    </div>
</div>
    
  
</body>
<script src="../js/script.js">
</script>
</html>