<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../css/index.css">
    <link rel="stylesheet" type="text/css"  href="../css/style.css">
    <link rel="stylesheet" type="text/css"  href="../css/responsive.css">
    <title>Npoint - Profile</title>
</head>
<body >
    <div class="profile">
        <img src="../images/profile.png" class="profileImg"></img>
    </div>
    <div class="details">
        <label class="plab">Full Name:</label>
        <input class="pinp" type="text" placeholder="Name" readonly>
        <label class="plab">Email:</label>
        <input class="pinp" type="text" placeholder="Mail" readonly>
        <label class="plab">Phone:</label>
        <input class="pinp" type="text" placeholder="Phone" readonly>
        <label class="plab">Password:</label>
        <input class="pinp" type="password" placeholder="Password" readonly>
    </div>
    <div class="verify">
    <span class="otpver">
        <p>OTP has been sended to your mail-box.</p>
        <div class="otp">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
    </span>
    <input class="vbtn submitbtn" type="button" value="Verify">
    </div>
</body>
<script src="../js/logedIn.js">
    
</script>
</html>