<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../css/index.css">
    <link rel="stylesheet" type="text/css"  href="../css/style.css">
    <title>NPoint - Signin</title>
</head>
<body>
    <div class="logContain">
    <div class="logTitl">Sign In</div>
        <form  class="login" action="/register" method="post">
            <label class="loglab">UserName : </label>
            <input name="UserName" type="text">
            <label class="loglab"> Set Password :</label>
            <input name="Password" type="password">
            <p class="error"><%= locals.message %></p>
            <input type="submit" value="Sign In" class="submitbtn logsub">
        </form>
</div>
</body>
</html>